/* Write your CSS here */
.app-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    background-color: #ffffff;
    border-radius: 15px;
    padding-top: 15px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right:5px;
    margin-bottom:10px;
}
.app-item {
    max-width:200px;
    padding-top: 25px;
    margin-left: 10px;
    margin-right:10px;
    margin-bottom:20px;
}
.app-image {
    width:100px;
    height:100px;
}
.app-name {
    color:#1e293b;
    font-family: Bree Serif;
}
